{{> nav/navbar-block}}
<div class="container">
    {{!-- Div to display settles --}}
    <div class="row">
        <div class="col s12 settleDiv">
            <h2>Add your own Settle!</h2>

            <div class="row">
                <form class="col s12" id="newSettle">

                    {{!-- Settle Title Textbox --}}
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="topic" type="text" data-length="50">
                            <label for="topic">What's the issue?</label>
                        </div>
                    </div>

                    {{!-- Side A Textbox --}}
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="sideA" class="materialize-textarea" data-length="300"></textarea>
                            <label for="sideA">Tell us your side</label>
                        </div>
                    </div>

                    {{!-- Dropdown to invite a user for Side B --}}
                    <div class="input-field col s6" id="userB">
                        <select id="userB">
                            <option value="" disabled selected>Invite a user to respond</option>
                            {{#each Users}}
                                <option data-id="{{this.id}}">{{this.UserName}}</option>
                            {{/each}}
                        </select>

                    </div>


                    {{!-- Submit Button --}}
                    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                        <i class="fas fa-chevron-circle-right"></i>
                    </button>

                </form>
            </div>

        </div>
    </div>
</div>  