{{> nav/navbar-block}}
<div class="container">
    <!-- Div to display settles -->
    <div class="row">
        <div class="col s12 settleDiv">

            {{#each SettleIts}}
                {{> settle/settle-block}}
            {{/each}}

        </div>
    </div>
</div>  