{{!-- Navbar structure --}}
<div class="row">
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#modal1" class="signUp modal-trigger">Sign Up</a></li>
                <li><a href="#modal2" class="logIn modal-trigger">Log In</a></li>
                <li><a href="create.html" class="create">Create a Settle</a></li>
                <li><a href="account.html" class="account">My Account</a></li>
            </ul>
        </div>
    </nav>
</div>

    {{!-- Sign Up Modal --}}
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Sign Up</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">                        
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
                          

    {{!-- Log In Modal --}}
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Log In</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">                        
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>